<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置 全局 -->
    <settings>
        <!--舒勇jdbc的useGeneratedKeys 获取数据库自动增加的主键值 -->
        <setting name="useGeneratedKeys" value="true"/>

        <!--使用列表标签替换别名，默认为true-->
        <setting name="useColumnLabel" value="true"/>

        <!--开启驼峰命名 table（create_time）————>entity（createTime）  -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>




</configuration>

